In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV

Відобразимо датасет **Position_Salaries.csv**:

In [2]:
data = pd.read_csv('C:/Users/Vitalii/Downloads/communities.csv')
data

,8,?,?.1,Lakewoodcity,1,0.19,0.33,0.02,0.9,0.12,...,0.12.2,0.26.1,0.2.1,0.06.3,0.04.2,0.9.1,0.5.2,0.32.2,0.14.3,0.2.2
0,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
1,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
2,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
3,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03
4,6,?,?,SouthPasadenacity,1,0.02,0.28,0.06,0.54,1.00,...,0.01,0.58,0.10,?,?,?,?,0.00,?,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,12,?,?,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,...,0.01,0.28,0.05,?,?,?,?,0.00,?,0.09
1989,6,?,?,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,...,0.02,0.37,0.20,?,?,?,?,0.00,?,0.45
1990,9,9,80070,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1991,25,17,72600,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1992,6,?,?,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

Нормалізуємо наш датасет, шляхом видалення строк, в яких відсутнє хоча б одне значення:

In [3]:
data = pd.read_csv('C:/Users/Vitalii/Downloads/communities.csv', header=None, na_values=['?'])
data

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,NaN,NaN,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.90,0.5,0.32,0.14,0.20
1,53,NaN,NaN,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,NaN,NaN,NaN,NaN,0.00,NaN,0.67
2,24,NaN,NaN,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.43
3,34,5.0,81440.0,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,NaN,NaN,NaN,NaN,0.00,NaN,0.12
4,42,95.0,6096.0,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,12,NaN,NaN,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,...,0.01,0.28,0.05,NaN,NaN,NaN,NaN,0.00,NaN,0.09
1990,6,NaN,NaN,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,...,0.02,0.37,0.20,NaN,NaN,NaN,NaN,0.00,NaN,0.45
1991,9,9.0,80070.0,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0.0,0.91,0.28,0.23
1992,25,17.0,72600.0,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0.0,0.22,0.18,0.19
1993,6,NaN,NaN,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

In [4]:
data2 = data.dropna()
data2

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
16,36,1.0,1000.0,Albanycity,1,0.15,0.31,0.40,0.63,0.14,...,0.06,0.39,0.84,0.06,0.06,0.91,0.5,0.88,0.26,0.49
23,19,193.0,93926.0,SiouxCitycity,1,0.11,0.43,0.04,0.89,0.09,...,0.16,0.12,0.07,0.04,0.01,0.81,1.0,0.56,0.09,0.63
33,51,680.0,47672.0,Lynchburgcity,1,0.09,0.43,0.51,0.58,0.04,...,0.14,0.11,0.19,0.05,0.01,0.75,0.0,0.60,0.10,0.31
68,34,23.0,58200.0,PerthAmboycity,1,0.05,0.59,0.23,0.39,0.09,...,0.01,0.73,0.28,0.00,0.02,0.64,0.0,1.00,0.23,0.50
74,9,9.0,46520.0,Meridentown,1,0.08,0.39,0.08,0.85,0.04,...,0.07,0.21,0.04,0.02,0.01,0.70,1.0,0.44,0.11,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,34,39.0,40350.0,Lindencity,10,0.04,0.39,0.39,0.65,0.09,...,0.03,0.28,0.32,0.02,0.01,0.85,0.0,0.99,0.19,0.22
1963,36,27.0,59641.0,Poughkeepsiecity,10,0.03,0.32,0.61,0.47,0.09,...,0.01,0.47,0.42,0.07,0.08,0.49,0.0,0.37,1.00,0.45
1981,9,9.0,35650.0,Hamdentown,10,0.07,0.38,0.17,0.84,0.11,...,0.09,0.13,0.17,0.02,0.01,0.72,0.0,0.62,0.15,0.07
1991,9,9.0,80070.0,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0.0,0.91,0.28,0.23
1992,25,17.0,72600.0,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0.0,0.22,0.18,0.19

In [5]:
X = data2.drop(columns = [127, 3]).values
y = data2[127].values

In [6]:
X, y

(array([[3.6000e+01, 1.0000e+00, 1.0000e+03, ..., 5.0000e-01, 8.8000e-01,
         2.6000e-01],
        [1.9000e+01, 1.9300e+02, 9.3926e+04, ..., 1.0000e+00, 5.6000e-01,
         9.0000e-02],
        [5.1000e+01, 6.8000e+02, 4.7672e+04, ..., 0.0000e+00, 6.0000e-01,
         1.0000e-01],
        ...,
        [9.0000e+00, 9.0000e+00, 3.5650e+04, ..., 0.0000e+00, 6.2000e-01,
         1.5000e-01],
        [9.0000e+00, 9.0000e+00, 8.0070e+04, ..., 0.0000e+00, 9.1000e-01,
         2.8000e-01],
        [2.5000e+01, 1.7000e+01, 7.2600e+04, ..., 0.0000e+00, 2.2000e-01,
         1.8000e-01]]),
 array([0.49, 0.63, 0.31, 0.5 , 0.14, 0.3 , 0.37, 0.09, 0.08, 0.53, 0.44,
        0.73, 0.17, 0.83, 0.36, 0.19, 0.88, 0.67, 0.08, 0.28, 0.2 , 0.51,
        0.3 , 0.12, 0.18, 0.32, 0.49, 0.54, 0.4 , 1.  , 1.  , 0.05, 0.17,
        0.22, 0.46, 0.41, 0.36, 0.21, 0.36, 0.12, 0.07, 0.09, 0.87, 0.15,
        0.24, 0.85, 0.54, 0.18, 0.94, 0.81, 0.24, 0.53, 0.54, 0.62, 0.28,
        0.27, 0.17, 1.  , 0.43, 0.41, 0.18, 0.06, 0.02, 0.2 , 0.09, 0.15,
        0.64, 0.69, 0.65, 0.17, 0.38, 0.67, 0.49, 0.4 , 1.  , 0.13, 0.1 ,
        0.37, 0.05, 0.06, 0.59, 0.19, 0.06, 0.18, 0.52, 0.27, 0.11, 0.84,
        0.1 , 0.26, 1.  , 0.12, 0.59, 0.48, 0.21, 0.12, 0.23, 0.32, 0.35,
        0.75, 0.32, 0.18, 0.24, 0.3 , 0.8 , 0.79, 0.03, 0.07, 0.12, 0.35,
        0.47, 0.62, 0.65, 0.16, 0.06, 1.  , 0.34, 0.88, 0.22, 0.45, 0.07,
        0.23, 0.19]))

Створимо тренувальний та тестовий датасети та побудуємо модель поліноміальної регресії:

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 1)

In [8]:
lr = LinearRegression().fit(X_train, y_train)

In [9]:
print(lr.score(X_train, y_train))
print(lr.score(X_test, y_test))

1.0
0.15251554272321244

Виконаємо регуляризації L1 (Lasso), L2 (Ridge) та ElasticNet (комбінація Lasso та Ridge регуляризацій):

In [10]:
lasso = Lasso(alpha=0.002).fit(X_train, y_train)

In [11]:
print(lasso.score(X_train, y_train))
print(lasso.score(X_test, y_test))

0.8727552094809088
0.8199458465531865

In [12]:
ridge = Ridge(alpha=0.95)
ridge.fit(X_train, y_train)

Ridge(alpha=0.95)

In [13]:
print(ridge.score(X_train, y_train))
print(ridge.score(X_test, y_test))

0.9181556911913501
0.733891835406373

In [14]:
elastic_net = ElasticNet(alpha=0.005, l1_ratio=0.5).fit(X_train, y_train)

In [43]:
print(elastic_net.score(X_train, y_train))
print(elastic_net.score(X_test, y_test))

0.8607465397013667
0.8172321326221473

В результаті для даного набору даних найкращим методом регуляризації виявився метод "Lasso".